html, body, #home {
	height: 100%;
	overflow-x: hidden;/* esconde a barra de rolagem */
}

body {
	background: url(../assests/fundo5.png) no-repeat top center;
	background-attachment: fixed;/*fixa a imagem de fundo*/
	font-family: Helvetica, Arial,sans-serif;
}

/* barra de navegação */

nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #9bf0e1;
}

.capa {
	text-align: center;
}

h1.titulo {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	font-size: 5em;
	text-transform: uppercase;
}

p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: white;
}
.conteudo {
	background: white;
}